/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
    border-radius: 10px; /* Make the scrollbar rounded */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: white; /* Set scrollbar thumb color */
    border-radius: 10px; /* Round the scrollbar thumb */
    border: 2px solid transparent; /* Optional: adds spacing inside the thumb */
    background-clip: padding-box; /* Prevents background from extending into border */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: white; /* Change thumb color on hover */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: white; /* Set scrollbar track color */
    border-radius: 10px; /* Round the scrollbar track */
  }
  
  /* Remove the scroll arrows */
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }
  
  /* For Firefox */
  .custom-scrollbar {/* Makes the scrollbar thinner */
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    scroll-behavior: smooth;
  
  }

  input ,select, button ,textarea{
    outline: none;
    border: none;
}

 button {
  font-size: 14px;
 }

  /* this is all for a custom scroll bar  */